/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    height: 30px;
  }
  
  .footer-text {
    color: #fff;
    margin-left: 40px;
    margin-top: 5px;
  }
  