<div class="local">
  <section class="introducao">
    <div>
      <h1>VERIFIQUE O LOCAL MAIS PRÓXIMO PARA SUA VACINAÇÃO</h1>
    </div>
  </section>

  <section class="form">
      <div class="grid-2">
        <form class="container" style="margin-top: 80px;">
          <input type="search" name="estado" placeholder="Estado:" max="50"><br>
          <input type="search" name="cidade" placeholder="Cidade:"><br>
          <button class="btn">Se Localize!</button>
        </form>
      </div>
      <div class="grid-4">
        <img src="/assets/images/map.png">
      </div>
  </section>
</div>
