<div class="sobre">
  <section class="introducao">
    <div>
      <h1>SAIBA MAIS SOBRE O NOSSO TRABALHO</h1>
    </div>
  </section>

  <div class="elementos-sobre">
    <div class="grid-1-3">
      <p>
        SuaVacina é uma empresa de origem privada, com o objetivo social de
        disponibilizar as vacinas para a população mais afetada pela pandemia de
        COVID-19.
      </p>
      <p>
        Temos sob nossa demanda diversas vacinas de diversos países, todas
        aprovadas pelo orgão responsável pela avaliação das mesmas. Nossas sedes
        estão disponíveis por todo o Brasil, para melhor distribuição e
        aplicação das vacinas já reservadas.
      </p>
    </div>
    <div class="grid-10">
      <img src="/assets/images/sobre.png" />
    </div>
  </div>
</div>

    

